---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const title = "My Astro Learning Blog";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <p>This is where I will post about my journey learning Astro.</p>

    <Card href="/posts/post-1/" title="Post 1" body="My very first blog post" />
    <Card href="/posts/post-2/" title="Post 2" body="My second blog post" />
    <Card href="/posts/post-3/" title="Post 3" body="My third blog post" />
  </main>
</Layout>
